In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas as pd

pd.set_option('display.max_rows',None)

df_derivative = pd.read_excel(r'.\data\vendas-combustiveis-m3.xls', sheet_name="Derivative")
df_diesel = pd.read_excel(r'.\data\vendas-combustiveis-m3.xls', sheet_name="Diesel")

In [3]:
df_derivative.head()

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,UNIDADE,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,TOTAL
0,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,m3,9563.263,11341.229,9369.746,10719.983,11165.968,12312.451,11220.970,12482.281,13591.122,11940.570,11547.576,10818.094,136073.253
1,GASOLINA C (m3),2000,REGIÃO NORTE,ACRE,m3,3065.758,3495.290,2946.930,3023.920,3206.930,3612.580,3264.460,3835.740,3676.571,3225.610,3289.718,3358.346,40001.853
2,GASOLINA C (m3),2000,REGIÃO NORTE,AMAZONAS,m3,17615.604,20258.200,18741.344,19604.023,20221.674,20792.616,19912.898,21869.338,21145.643,20633.175,20766.918,21180.919,242742.352
3,GASOLINA C (m3),2000,REGIÃO NORTE,RORAIMA,m3,3259.300,3636.216,3631.569,3348.416,3394.016,4078.616,3346.616,4029.900,4358.516,3716.032,3200.400,3339.332,43338.929
4,GASOLINA C (m3),2000,REGIÃO NORTE,PARÁ,m3,28830.479,32297.047,27310.979,29396.384,26511.009,36553.250,31807.840,31009.972,29755.907,28661.951,28145.784,29294.796,359575.398

In [4]:
df_diesel.head()

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,UNIDADE,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,TOTAL
0,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,RONDÔNIA,m3,3517.600,3681.7,4700.67,5339.20,6166.40,6539.65,7283.700,8082.850,7902.55,9383.15,9767.400,9088.800,81453.670
1,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,ACRE,m3,363.000,410.0,536.00,607.00,740.00,756.00,971.000,1174.000,1240.00,1439.00,1483.000,1483.000,11202.000
2,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,AMAZONAS,m3,3190.585,3305.0,3391.00,3637.00,4250.00,4576.00,5756.879,6228.636,6334.00,7154.20,6836.300,6784.232,61443.832
3,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,RORAIMA,m3,795.400,757.2,939.80,1040.60,966.00,992.90,1027.000,1083.800,1311.20,1475.30,1502.700,1531.800,13423.700
4,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,PARÁ,m3,30137.800,28146.3,31280.50,33033.05,33519.88,34321.53,37168.160,41248.336,40913.48,45383.50,44013.219,41975.030,441140.785

In [6]:
month_dict = {
    'Jan': '01',
    'Fev': '02',
    'Mar': '03',
    'Abr': '04',
    'Mai': '05',
    'Jun': '06',
    'Jul': '07',
    'Ago': '08',
    'Set': '09',
    'Out': '10',
    'Nov': '11',
    'Dez': '12'
}

In [7]:
def do_stg(df,month_dict):
    df = df[['COMBUSTÍVEL','ANO','REGIÃO','ESTADO','UNIDADE','Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez']]
    df = pd.melt(df, id_vars=['COMBUSTÍVEL','ANO','REGIÃO','ESTADO','UNIDADE'],value_vars=['Jan', 'Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'])
    df.variable = df.variable.map(month_dict)
    df['year_month'] =  df["variable"] + '/' + df["ANO"].astype(str)

    df.rename(columns={'COMBUSTÍVEL':'product','ESTADO': 'uf','value':'volume','UNIDADE':'unit'}, inplace=True)
    df.drop(columns=['REGIÃO','variable'],inplace=True)
    return df

In [8]:
stg_diesel = do_stg(df_diesel, month_dict)

In [9]:
stg_diesel[(stg_diesel['uf'] == 'ACRE') & 
           (stg_diesel['ANO'] == 2013) & 
           (stg_diesel['product'] == 'ÓLEO DIESEL S-10 (m3)')]['volume'].sum()

11202.0

In [10]:
stg_diesel.head()

                 product   ANO        uf unit     volume year_month
0  ÓLEO DIESEL S-10 (m3)  2013  RONDÔNIA   m3   3517.600    01/2013
1  ÓLEO DIESEL S-10 (m3)  2013      ACRE   m3    363.000    01/2013
2  ÓLEO DIESEL S-10 (m3)  2013  AMAZONAS   m3   3190.585    01/2013
3  ÓLEO DIESEL S-10 (m3)  2013   RORAIMA   m3    795.400    01/2013
4  ÓLEO DIESEL S-10 (m3)  2013      PARÁ   m3  30137.800    01/2013

In [11]:
stg_derivative = do_stg(df_derivative, month_dict)
stg_derivative.head()

           product   ANO        uf unit     volume year_month
0  GASOLINA C (m3)  2000  RONDÔNIA   m3   9563.263    01/2000
1  GASOLINA C (m3)  2000      ACRE   m3   3065.758    01/2000
2  GASOLINA C (m3)  2000  AMAZONAS   m3  17615.604    01/2000
3  GASOLINA C (m3)  2000   RORAIMA   m3   3259.300    01/2000
4  GASOLINA C (m3)  2000      PARÁ   m3  28830.479    01/2000

In [12]:
stg_derivative.isnull().sum()

product         0
ANO             0
uf              0
unit            0
volume        648
year_month      0
dtype: int64

In [13]:
stg_diesel.isnull().sum()

product         0
ANO             0
uf              0
unit            0
volume        405
year_month      0
dtype: int64

In [14]:
stg_derivative.fillna(0.0,inplace=True)
stg_diesel.fillna(0.0, inplace=True)

In [15]:
import MySQLdb
import sqlalchemy

In [16]:
user = 'root'
password = 'pedro1997'
host = '127.0.0.1:3306'
database = 'raizen'

string_conexao = f'mysql://{user}:{password}@{host}/{database}'
string_conexao

'mysql://root:pedro1997@127.0.0.1:3306/raizen'

In [17]:
engine = sqlalchemy.create_engine(string_conexao)
conn = engine.connect()

In [18]:
from datetime import datetime

In [19]:
for data in stg_diesel.itertuples():
    year_month = data.year_month
    uf = data.uf
    product = data.product
    unit = data.unit
    volume = data.volume
    created_at = datetime.now()
    print(year_month,uf,product,unit,type(volume),created_at)
    try:
        query = f"""
                insert into venda_combustiveis (year_and_month, uf, product, unit, volume, created_at)
                values ('{year_month}','{uf}','{product}','{unit}','{volume}','{created_at}')
                """
        conn.execute(query)
        print(f"Registro inserido com sucesso: {product}")
    except Exception as e:
        print(f"Não foi possível inserir o registro {product}. O erro encontrado foi: {e}")

In [20]:
for data in stg_derivative.itertuples():
    year_month = data.year_month
    uf = data.uf
    product = data.product
    unit = data.unit
    volume = data.volume
    created_at = datetime.now()
    print(year_month,uf,product,unit,type(volume),created_at)
    try:
        query = f"""
                insert into venda_combustiveis (year_and_month, uf, product, unit, volume, created_at)
                values ('{year_month}','{uf}','{product}','{unit}','{volume}','{created_at}')
                """
        conn.execute(query)
        print(f"Registro inserido com sucesso: {product}")
    except Exception as e:
        print(f"Não foi possível inserir o registro {product}. O erro encontrado foi: {e}")

In [21]:
len(stg_diesel) + len(stg_derivative)

67392

In [22]:
stg_fuel = pd.read_sql('venda_combustiveis',con=conn)

In [23]:
stg_fuel.head()

,year_and_month,uf,product,unit,volume,created_at
0,01/2013,RONDÔNIA,ÓLEO DIESEL S-10 (m3),m3,3517.600,2022-02-17 09:03:46
1,01/2013,ACRE,ÓLEO DIESEL S-10 (m3),m3,363.000,2022-02-17 09:03:47
2,01/2013,AMAZONAS,ÓLEO DIESEL S-10 (m3),m3,3190.585,2022-02-17 09:03:47
3,01/2013,RORAIMA,ÓLEO DIESEL S-10 (m3),m3,795.400,2022-02-17 09:03:47
4,01/2013,PARÁ,ÓLEO DIESEL S-10 (m3),m3,30137.800,2022-02-17 09:03:47

In [24]:
stg_fuel.to_csv('.\\data\\venda_combustiveis.csv')

In [25]:
stg_fuel.loc[(stg_fuel['uf'] == 'ACRE') & (stg_fuel['product'] == 'ÓLEO DIESEL S-10 (m3)')
            & (stg_fuel['year_and_month'].str.contains('2013'))
            ]['volume'].sum()

11202.0

In [31]:
import boto3

session = boto3.Session(
aws_access_key_id='{}',
aws_secret_access_key='{}'
)

s3 = session.resource('s3')

result = s3.Bucket('raizen-pedro-teixeira')\
                        .upload_file('.\\data\\venda_combustiveis.csv','fuels/venda_combustiveis.csv')